.loginBtn{
  display: flex;
  justify-content: flex-end;
  margin: 5%;
  align-items: center;
  cursor: pointer;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuList{
  display: flex;
  list-style-type: none;
  height: 100%;
  align-items: center;
}

.menuList > li{
  padding-left: 30px;
  padding-right: 30px;
  margin : 0px
}

.menuBar{
  position: relative;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 3%;
  margin-bottom: 2.8%;
  height: 50px;  
}

.searchBox{
  margin: 0.5%;
  position: absolute;
  /* justify-content: center; */
  right: 3%;
  display: flex;
  width: 160px;
  height: 50%;
  border-bottom: 2px solid grey;
}

#inputTxt{
  border: 0px;
  outline: none;
  padding-bottom: 15px;
  background-color: transparent;
  padding-top: 10px;
}
