.loginBtn{
  display: flex;
  justify-content: flex-end;
  margin: 5%;
  align-items: center;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuList{
  display: flex;
  list-style-type: none;
  height: 100%;
  align-items: center;
}

.menuList > li{
  padding: 30px;
}

.menuBar{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  height: 100px;  
}

.menuBar > div{
  position: absolute;
  right: 3%;
  margin-bottom: 1%;
}

.searchBox{
  display: flex;
  width: 160px;
  height: 25px;
  border-bottom: 2px solid grey;
}

#inputTxt{
  border: 0px;
  outline: none;
  padding-bottom: 13px;
  background-color: transparent;
}

/* TODO : card가 두개씩 화면에 나오도록 해야 할 듯  */
/* .card{
  display: flex;
} */