.box{
  font-size: 65px;
  font-weight: bolder;
  color: rgb(212, 136, 149);
  border: 5px solid pink;
  border-radius: 10%;
  width: 500px;
  height: 550px;
  margin: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}

.pic{
  width: 50%;
  height: 50%;
    
}

.main{
  display: flex;
  justify-content: center;
  align-items: center;
}
